[Unit]
Description={{ item.name_safe }}
After=network.target

[Mount]
What={{ item.remote_path }}
Where={{ item.local_path }}
Type=nfs4

[Install]
WantedBy=multi-user.target
