[Unit]
Description=Node Exporter
#Requires=node_exporter.socket

[Service]
User=node_exporter
#EnvironmentFile=/etc/sysconfig/node_exporter
ExecStart=/opt/node_exporter/{{ node_exporter_folder_name }}/node_exporter

[Install]
WantedBy=multi-user.target
