[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
ExecStart=/opt/node_exporter/{{ node_exporter_folder_name }}/node_exporter \
    --collector.textfile.directory={{ node_exporter_textfile_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
