[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
ExecStart=/opt/node_exporter/{{ node_exporter_folder_name }}/node_exporter \
    --no-collector.bcache \
    --no-collector.btrfs \
    --no-collector.fibrechannel \
    --no-collector.infiniband \
    --no-collector.mdadm \
    --no-collector.tapestats
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
