[defaults]
host_key_checking   = False
inventory           = ./inventory/inventory.ini
roles_path          = ./roles
filter_plugins      = ./filter_plugins
vault_password_file = /home/john/.ansible-vault-password
