[Unit]
Description={{ service_name }} service with docker compose
Requires=docker.service
RequiresMountsFor=/docker/nfs_mount/{{ service_name }}
After=docker.service

[Service]
Restart=always

WorkingDirectory=/etc/docker/compose/{{ service_name }}

# Remove old containers, images and volumes
#ExecStartPre=-/bin/bash -c 'mount | grep nfs | grep /docker/nfs_mount/{{ service_name }} || exit 1'
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name={{ service_name }}_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=traefik_internal-network" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name={{ service_name }}_*" | xargs docker rm'

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
