[Unit]
Description=jenkins service with docker compose
Requires=docker.service
RequiresMountsFor=/docker/nfs_mount/jenkins
After=docker.service

[Service]
Restart=always

WorkingDirectory=/etc/docker/compose/jenkins

# Remove old containers, images and volumes
#ExecStartPre=-/bin/bash -c 'mount | grep nfs | grep /docker/nfs_mount/jenkins || exit 1'
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=jenkins_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=jenkins_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=jenkins_*" | xargs docker rm'

# Compose up
ExecStart=/usr/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
